<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/activity_style.css">
</head>
<body>

    <!-- adding cardd.co code -->
    <div id="wrapper">
      <div id="main">
        <div class="inner">
            <div id="gallery01" class="gallery">
                <div class="inner">
                    <ul>
                        <li>
                            <a href="activity.html" class="thumbnail n01">
                                <span class="frame">
                                    <img src="../images/noodle_duck.jpeg" alt="home">
                                </span>
                            </a>
                            <div class="caption">
                                <p>home</p>
                            </div>
                        </li>
                        <li>
                            <a href="projects.html" class="thumbnail n02">
                                <span class="frame">
                                    <img src="../images/drawing-pusheen.gif" alt="projects">
                                </span>
                            </a>
                            <div class="caption">
                                <p>projects</p>
                            </div>
                        </li>
                        <li>
                            <a href="passions.html" class="thumbnail n03">
                                <span class="frame">
                                    <img src="../images/graduation.gif" alt="services">
                                </span>
                            </a>
                            <div class="caption">
                                <p>education</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div>
              <p></p>
            </div>
        </div>
      </div>
      <br>  
      <div class="centered-section">
        <div class="id-card2">
          <h4>Hello, I'm Tricia! Welcome to my portfolio website!</h4>
          <p>Click on the icons above to nagivate to different pages! Read below to learn about me. </p>
        </div>
      </div>
    </div>
    
    <!-- ABOUT ME SECTION -->
    <br>
    <div class="centered-section">
      <div class="id-card">
        <!-- <img src="../images/gru.jpeg" alt="Profile Picture"> -->
        <h1>Naser Al Madi</h1>
        <p>Professor | Gru</p>

        <a href="mailto:youremail@example.com">Email Me</a>
      </div>

      <div class="id-card">

        <img src="../images/noodle_duck.jpeg" alt="Profile Picture">
        <h1>Tricia Yang</h1>
        <p>Student | Noodle Duck</p>
  
        <a href="mailto:youremail@example.com">Email Me</a>
      </div>
    </div>
    

</body>
</html>

