<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Education</title>
    <link rel="stylesheet" href="../static/activity_style.css">
</head>
<body>

    <div class="id-card">

        <!-- <img src="../images/gru.jpeg" alt="Profile Picture"> -->
        <h1>Naser Al Madi</h1>
        <p>Professor | Gru</p>

        <a href="mailto:youremail@example.com">Email Me</a>
    </div>

    <p> </p>

    <div class="id-card">

        <img src="../images/noodle_duck.jpeg" alt="Profile Picture">
        <h1>Tricia Yang</h1>
        <p>Student | Noodle Duck</p>

        <a href="mailto:youremail@example.com">Email Me</a>
    </div>

</body>
</html>
